@import "../../mixins/styles/colors.less";

.button {
  border: none;
  border-radius: 50vw;
  --height: calc(var(--toolbar-height) - 15px);
  height: var(--height);
  min-width: $height;
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  padding: 7.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  .preloader-wrapper {
    --size: calc(var(--toolbar-height) / 2);
    --weight: 4px;
  }

  &.loading {
    pointer-events: none;
  }

  & > svg {
    width: calc(var(--toolbar-height) / 2);
  }

  & > div {
    &:first-child {
      margin-left: 8px;
    }
    &:last-child {
      margin-right: 8px;
    }
  }

  &.round {
    width: var(--height);
  }

  background: none;
  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
  &:disabled {
    opacity: 0.5;
  }
  transition: 100ms;

  &.primary {
    color: white;
    @c: #colors() [primary];
    background: @c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    &:active {
      background: @c;
      filter: brightness(80%);
    }
  }
  &.outline {
    border: #colors() [primary] solid 3px;
    color: #colors() [primary];
    box-sizing: border-box;
  }
}
