h1 {
  font-family: "Roboto Slab", serif;
  font-size: 24pt;
}

h2 {
  font-weight: 600;
}

* {
  font-family: "Titillium Web", sans-serif;
}

body {
  color: #222;
}

:root {
  --color-primary: #ff4f95;
  --color-contrast: #c7ff69;
  --color-secondary: #d642ff;
  --color-secondary-contrast: #36ffb3;
  --color-warning: #ff785c;
}
