@import "../../mixins/styles/index.less";

:root {
  --pfp-size: 38.2vw;
}

#page-user {
  height: 100vh;
  .flex-center();
  flex-direction: column;
  color: white;
  background-color: black;

  & > svg,
  & > img {
    width: 38.2vw;
  }

  & > img {
    border-radius: 50vw;
  }

  & > h1 {
    margin-bottom: 0;
  }

  & > * {
    z-index: 1;
  }

  & > .gallery-img {
    --index: 0;
    --image-amount: 1;
    border-radius: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    filter: brightness(50%);
    animation: gallery-img calc(5s * var(--image-amount)) linear
      calc(var(--index) * 5s) infinite;
    opacity: 0;
  }
}

.pfp {
  width: var(--pfp-size);
  height: $width;
  border-radius: 50vw;
  object-fit: cover;
}

@keyframes gallery-img {
  0% {
    transform: none;
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    transform: scale(1.5);
    opacity: 0;
  }
}
