#page-activity {
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px #222;

  & > div {
    overflow: scroll;
    height: 80vh;

    & > div {
      width: 100%;
      height: 100vh;
      background: linear-gradient(salmon, pink);
    }
  }
}
